@import url('https://fonts.googleapis.com/css?family=Space Mono');
body{
	
	  font-family: 'Space Mono';
}
 .spacer{
	 height: 40px;
	 width: 100%;
	 
 }
 .peek{
	 position: absolute;
	 width: 100px;
	 height: 100px;
	 z-index: -1;

 }
 ul.social li {
    display:inline;
	vertical-align: middle;
}

.footer-icon{
	 width: 40px;
	 height: 40px;
}
.footer-icon:hover{
 -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}