/**
 * Global page setting
 */
html,
body {
    width: 100%;
    margin: 0;
}

/** ========================================================
 * Top card css
 */
#title-card-container {
    height: 100%;
    width: 100%;
}

#video-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

#welcome-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#welcome-message {
    position: absolute;
    color: #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-message > span {
    font-size: 2em;
    text-shadow: 2px 2px 4px grey;
}

/** ========================================================
 * Scroll pointer
 */

.scroll-down {
    position: absolute;
    left: 50%;
    width: 10%;
    height: 24px;
    bottom: 24px;
    transform: translate(-50%, 0%);
}

.chevron {
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

/** ========================================================
  * Sticky NavBar
  */
/* Style the navbar */
#navbar {
    overflow: hidden;
    z-index: 2;
    background-color: #000000;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

/**
 *
 */

.section-title {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0px 0 25px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: 1px;
}

.section-title span {
    display: inline-block;
    position: relative;
}

.section-title span:before,
.section-title span:after {
    content: "";
    position: absolute;
    height: 4px;
    top: .53em;
    width: 400%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.section-title span:before {
    right: 100%;
    margin-right: 45px;
}

.section-title span:after {
    left: 100%;
    margin-left: 45px;
}

/** ========================================================
 * Page 1
 */
#main-1 {
    height: 100%;
    width: 100%;
    background: rgba(185, 39, 39, 0.5);
}

/** ========================================================
 * Footer
 */

footer {
    background: rgb(39, 42, 221);
}